.App {
  color: var(--color);
}

header {
  background-color: var(--background-color);
  border-bottom: var(--border);
  padding: var(--page-padding);
  position: sticky;
  top: 0;

  & h1 {
    font-size: 1.2rem;
    margin: 0;
    user-select: none;
  }
}

main {
  margin: 2rem 0;
  padding: var(--page-padding);
}